.dash{
    margin-left: -50px;
}
.order{
margin-left: 50px;
margin-top: -80px;
}
.fav{
    margin-left: 50px;

}
.mess{
    margin-left: 50px;

}
.his{
    margin-left: 50px;
}
.bill{
    margin-left: 50px;

}
.sett{
    margin-left: 50px;

}
.meal{
    margin-top: -40px;
    margin-left: -50px;
}